* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
  }

  .clearfix::after {
    content: "";
    display: table;
    clear: both;
  }

  body{
    position: absolute;
    top: 70px;
    background-color: #221f1f;
  }

  nav{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 70px;
    padding: 0 15px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:#ffffff;
    z-index: 99;
  }

  .nav-left{
    width: 100%;
    display: flex;
    align-items: center;
  }

  .nav-left i{
    padding-left: 20px;
    transform: scale(1.5);
    color: grey;
  }

  .nav-left h1{
    padding-left: 25px;
    font-size: 2em;
    color: #e50914;
  }

  .search-bar{
      width: 20%;
      display: flex;
      justify-content: space-between;
      align-items: center;
  }

  .search-bar img{
    object-fit: cover;
    width: 50px;
    height:50px;
  }

  input{
    border: none;
    border-radius: 50px;
    margin-right: 10px;
    padding: 3px 10px;
  }

  .search-bar i{
    padding-right: 5px;
    transform: scale(1.5);
    color: grey;
  }

  .search-bar i:hover{
    color: #e50914;
    cursor: pointer;
  }

  .films,
  .serie{
      width: 100%;
      padding: 20px 10px;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
  }

  .single-film{
      position: relative;
      width: 20%;

  }
  .single-film img{
      object-fit: cover;
  }

  .overlay{
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      background: black;
      opacity: 0;
      color: #ffffff;
      transition: 0.8s ease;
  }

  .overlay img{
      width: 30px;
      height: 20px;
  }

  .overlay:hover{
      opacity: 1;
  }

.fas.fa-star{
    color: yellow;
}
