* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kanit", sans-serif;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

body {
  position: absolute;
  top: 70px;
  background-color: #221f1f;
  display: flex;
}

nav {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 70px;
  padding: 0 10px;
  background-image: linear-gradient(#221f1f, black);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  z-index: 99;
}

.nav-left {
  width: 100%;
  display: flex;
  align-items: center;
}

.nav-left i {
  padding-left: 15px;
  transform: scale(1.5);
  color: grey;
}
.nav-left i:hover {
  color: #ffffff;
}

.nav-left h1 {
  padding-left: 25px;
  font-size: 3em;
  color: #e50914;
}

.search-bar {
  width: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-bar img {
  object-fit: cover;
  width: 50px;
  height: 50px;
}

input {
  border: none;
  border-radius: 50px;
  margin-right: 10px;
  padding: 3px 10px;
  outline: none;
}

.search-bar i {
  padding-right: 5px;
  transform: scale(1.5);
  color: grey;
}

.search-bar i:hover {
  color: #ffffff;
  cursor: pointer;
}

/* SLIDE SX */
.slide {
  width: 15%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(#1b1818 10%, black 90%);
  position: fixed;
  top: 70px;
  left: 0;
  z-index: 99;
}

.slide img {
  object-fit: cover;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-top: 20px;
}

.slide h1 {
  padding-top: 20px;
  text-transform: uppercase;
  color: #e50914;
  margin-bottom: 20px;
}

.slide dd {
  line-height: 2em;
  font-size: 20px;
  color: grey;
}

.films {
  width: 90%;
  margin: 20px auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.single-film {
  position: relative;
  width: 20%;
}

.single-film > img {
  max-width: 342px;
  min-height: 513px;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 342px;
  height: 513px;
  padding: 0 10px;
  background-image: linear-gradient(#1b1818, black);
  opacity: 0;
  color: #ffffff;
  transition: 0.8s ease;
  overflow-y: auto;
}

.overlay dt {
  padding-top: 5px;
}

/* .overlay dd:first-child{
    display: none;
} */

.overlay dd:last-child {
  font-size: 14px;
  text-align: justify;
}

.overlay span {
  display: flex;
  align-items: center;
}
.overlay span dd {
  padding-top: 5px;
  padding-left: 5px;
}

.overlay img {
  width: 30px;
  height: 20px;
  margin-left: 10px;
}

.overlay:hover {
  opacity: 1;
}

.overlay dt {
  color: #e50914;
}

.fas.fa-star {
  color: yellow;
}

/* FOOTER */
footer{
    width: 100%;
    height: 30%;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    z-index: 99;
}

.title-section{
    width: 10%;
    height: 100%;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(#1b1818, black);
    color: #ffffff;
}

.title-section img{
    width: 250px;
    height: 150px;
    margin-bottom: 10px;
}

.title-section h2{
    padding-left: 15px;
    text-transform: uppercase;

}

.cast{
    width: 90%;
    height: 100%;
    margin: 0 auto;
    background-image: linear-gradient(#1b1818, black);
}
